*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.intro{
	background: #EAF0F1;
}
h1{
	color: #770b0b;
	font-weight: bold;
	transition: 0.5s;
	font-style:oblique;
}
h3{
	color:#770b0b;
	margin-bottom:50px;
	font-style:oblique;
}
button{
	margin-top:70px;
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#770b0b; 
	color:black;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#a83805e1;
	
}
footer{
	color:blue;
	background-color:#a83805e1;
	letter-spacing: 0.5px;
}
footer p{

 	margin-top: 100px;
	font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 110px;
		margin-bottom:20px;
	}
}